* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
/* CSS som gäller för allt */
.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 10rem 3rem auto 3rem;
  background-color: #005c9534;
}

/* Header */
header {
  display: flex;
  background-color: #005c95;

  align-items: center;
  justify-content: center;

  background-image: linear-gradient(rgba(61, 131, 174, 0), rgb(61, 131, 174, 0)),
    url("./img/svgexport-2.png");
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /* Set a specific height */

  /* Position and center the image to scale nicely on all screens */
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -4rem;

  /* background-color: rgb(41, 15, 9); */
  background-size: cover;

  animation-name: example;
  animation-duration: 3s;
}

.logo {
  /* Set a specific height */

  /* Position and center the image to scale nicely on all screens */
  /* background-position: center; */
  background-repeat: no-repeat;

  flex-basis: 30em;
  margin-right: 40%;

  /* background-color: rgb(41, 15, 9); */
  /* background-size: cover; */
  /* position: relative; */

  animation-name: example;
  animation-duration: 3s;
}

/* Header end */

/* Navigation bar */
nav,
nav button {
  background-color: #094e79;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;

  grid-row: 2/3;
  grid-column: 1/2;
}
/*  nav text style  */
nav a,
nav button {
  padding: 1rem 5rem;

  font-size: 1rem;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  transition: 2s;
}
a:hover,
nav button:hover {
  background-color: #033250c7;
  border-radius: 6%;
}

/* Drop down btn projekts */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f900;
  /* min-width: 160px; */
  /* box-shadow: 0px 8px 16px 0px rgba(216, 205, 205, 0.2); */
  z-index: 1;
}

.dropdown-content a {
  color: black;
  background-color: #f9f9f980;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: flex;
  text-align: left;
  font-size: 0.8rem;

  font-family: Arial, Helvetica, sans-serif;
}

.dropdown-content a:hover {
  background-color: rgba(245, 7, 7, 0.945);
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-flow: wrap row;
}

/* end navigation bar */

main {
  padding: 1rem;
  background-color: rgba(38, 53, 71, 0.52);

  grid-row: 3/4;
  grid-column: 1/2;
}
.flex-container {
  display: flex;
  flex-basis: 100%;

  flex-flow: wrap row;
  justify-content: center;
}
.flex-containercolumn {
  background-color: #f2f2f2;
  display: flex;
  margin: 2% 20%;
  justify-content: center;

  flex-flow: column;
}
/* kontaktform */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */

  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* kontaktform start */
label {
  font-size: 2rem;
}
/* button till form */
.btn {
  text-align: center;
  background-color: rgb(238, 177, 79);
  font-size: 2rem;

  color: white;
  padding: 12px 20px;

  border-radius: 25%;
}
.btn:hover {
  background-color: #45a049;
}

article {
  padding-top: 0.5rem;
}
h1 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 3rem;
}
.blocktyp1 {
  text-align: center;
  flex-basis: 60%;
}
.blocktyp2 {
  text-align: center;
  flex-basis: 26%;
  margin: 0;
}
.linkedimagecollection__text {
  bottom: 5px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding: 0.4rem 0.6rem;
  font-size: 1.1em;
  width: 100%;
  line-height: 1.2;
  font-weight: normal;
  z-index: 1;
  text-shadow: 1px 1px 10px #000;
  color: #fff;
  background: #094e79;
  text-shadow: none;
}
img {
  width: 100%;
}
.desktopstyle {
  text-align: center;

  margin-bottom: 0;

  font-size: 1.5rem;
  padding: 1rem;
  height: auto;
}

footer {
  background-color: rgb(38, 53, 71);
  padding-top: 1rem;
  text-align: center;

  grid-row: 4/5;
  grid-column: 1/2;
}

/*  layout information */
/*  tablet breakpoint */
@media (max-width: 1200px) {
  .desktopstyle {
    flex-basis: 35%;
    font-size: 1rem;
  }
  nav a,
  nav button {
    font-size: 1rem;
    padding: 2rem;
  }

  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* mobile  breakpoint */
@media (max-width: 800px) {
  .desktopstyle {
    flex-basis: 100%;
    font-size: 1rem;
  }
  nav a,
  nav button {
    font-size: 1rem;
    padding: 0.7rem;
  }
  .dropdown:hover .dropdown-content {
    flex-direction: column;
  }
  .btn {
    font-size: 1rem;
  }

  .wrapper {
    /* grid-template-rows: repeat(1, 3fr); */
    grid-template-columns: repeat(1, 1fr);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* Test */
.inloggadBody {
  background-color: #005c95ca;
}
.flex-container-inloggad {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  margin-top: 5em;
}
.FlexDiv {
  border-width: 1px;
  border: solid black;
  background-color: #15728a;
}
.FlexDiv > h1 {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;

  font-weight: bold;

  line-height: 1;
  text-align: center;
}
.knappdiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  padding-top: 4rem;
}
.knappdiv > input {
  width: 20%;
  align-self: center;
}
.val {
  margin-top: 2rem;
  width: 10%;
  align-self: center;
  border-radius: 10%;
  font-weight: 900;
}
.inloggadP {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  background-color: #15728a;
  text-align: center;

  font-size: x-large;
  font-weight: 500;
}
.InfoP {
  color: rgb(4, 8, 20);
  font-size: x-large;
  font-weight: 500;
}
.inputSearch {
  font-size: 20pt;
}
